<div id="<%= dom_id task %>">
  <span
      class="task <%= task.completed? ? 'line-through' : '' %>"
      >
      <input
          type="checkbox"
          data-cards-target="checkbox"
          data-action="click->tasks#click click->cards#countTasks"
          data-tasks-path-param="<%= board_lane_card_task_path(task.card.lane.board, task.card.lane, task.card, task) %>"
          class="rounded mr-2" <%= task.completed? ? 'checked' : ''%>
        >
        <%= task.title %>
        <%= button_to board_lane_card_task_path(task.card.lane.board, task.card.lane, task.card, task),
          method: :delete,
          class: 'pl-2 delete-btn',
          data: {
            confirmation_target: "elements",
            message: "Are you sure?",
            controller: "confirmation",
            action: "click->confirmation#confirm"
          } do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        <% end %>
  </span>
</div>
