<%= turbo_stream_from lane, :cards %>

<div id="<%= dom_id lane %>" class="rounded bg-gray-200 w-64 p-2">
  <%= turbo_frame_tag "lane_#{lane.id}_frame" do %>
    <div class="py-1">
      <%= button_to board_lane_path(lane.board, lane),
        method: :delete,
        class: 'delete-btn float-right',
        data: {
          confirmation_target: "elements",
          message: "Are you sure?",
          controller: "confirmation",
          action: "click->confirmation#confirm"
        } do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
      <% end %>
      <%= link_to lane.title, edit_board_lane_path(lane.board, lane) %>
    </div>

    <div id="lane_<%= lane.id %>_cards" class="text-sm mt-2">
      <%= render lane.cards %>
    </div>

    <%= render partial: 'cards/new_card_button', locals: {lane: lane} %>

  <% end %>
</div>

