<%= turbo_stream_from [current_user, :boards] %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= current_user.belongs_to_organization? ? 'My Boards' : 'Boards' %></h1>
    <%= link_to 'New board', new_board_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <section id="boards" class="container w-full mx-auto flex flex-wrap">
    <%= render @boards %>
  </section>

  <% if current_user.belongs_to_organization? %>
    <div class="py-5">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">Organization Boards</h1>
      </div>

      <section id="organization_boards" class="container w-full mx-auto flex flex-wrap">
        <%= render @organization_boards %>
      </section>
    </div>
  <% end %>
</div>
