<%= turbo_stream_from @board, :lanes %>

<div class="mx-auto w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= link_to '<< Back to boards', boards_path %>

  <h1 class="text-center m-3 text-2xl font-bold"><%= @board.title %></h1>

  <div class="w-1/3">
    <%= render partial: 'lanes/new_lane_button', locals: {board: @board} %>
  </div>

  <div id="board_<%= @board.id %>_lanes" class="flex gap-2 bg-blue-400 p-8 font-sans rounded">
    <%= render @board.lanes %>
  </div>
</div>
